{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }} | Yatube
{% endblock title %}
{% block content %}
<div class="container">        
  <h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
  {% for post in posts %}
  <article>
    <ul>       
      <li>
        Автор: {{ post.author.first_name }} {{ post.author.last_name }}
      </li>
      <li>
        дата публикации: {{ post.pub_date|date:"d M Y" }}
      </li>
    </ul>      
    <p>
      {{ post.text }}
    </p>

  </article>
  {% if not forloop.last %}
    <hr>    
  {% endif %}
  {% endfor %}
</div> 
{% endblock content %}
  