{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  Изменить пароль
{% endblock title %}


{% block content %} 
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Изменить пароль
        </div>
        <div class="card-body">
          
          {% for field in form.fields  %}
            {% for error in fields.errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}            
          {% endfor %}
          {% for error in form.non_field_errors  %}
            <div class="alert alert-danger">
              {{ error }}
            </div>            
          {% endfor %}
            
          <form method="post" action="."> 
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                  {% if field.field.required %}
                  <span class="required text-danger">*</span>
                  {% endif %}
              </label>
              <div class="my-3 p-3">
                {{ field|addclass:"form-control" }}
              </div>
            {% endfor %}
              <div class="col-md-6 offset-md-4">
                <button class="btn btn-primary" type="submit">Сменить пароль</button>
              </div>
            </div>
          </form>
        </div> 
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
</div>
{% endblock content %}